@font-face {
	font-family: 'Product Sans Medium Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Medium Regular'), url('../fonts/ProductSans-Medium.woff') format('woff');
	}
/*  
font-family: "Product Sans Medium Regular";
font-family: "Montserrat", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Volkhov", serif;
*/
/* variant */
:root{
	--container:1170px;
	--fz:16px;
	--lh:26px;
	--tc:#5E6282;
	--shadow:
		0px 100px 80px 0px rgba(0, 0, 0, 0.02),
		0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152),
		0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121),
		0px 20px 13px 0px rgba(0, 0, 0, 0.01),
		0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079),
		0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048); 
}

/* layout */
.container{
	width: var(--container);
	margin: 0 auto;
}
/* typography */
body{
	/* font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px; */
	font: 500 var(--fz)/var(--lh) "Poppins", sans-serif; 
	color: var(--tc);
}
.section-sub-tt{
	text-align: center;
	font-style: 18px;
	font-weight: 600;
	color: #5E6282;
	margin-bottom: 10px;
}
.section-tt{
	text-align: center;
	text-transform: capitalize;
	font-family: "Volkhov", serif;
	font-weight: bold;
	font-size: 50px;
	line-height: 65px;
	color: #14183e;
}
/* link button */