@import url('reset.css');
@import url('common.css');

header{
	padding-top: 47px;
	background:
	no-repeat url(../images/header_ellipse.svg),
	no-repeat url(../images/header_bg.svg) 100% 0;
}
header h1 a{
	background: url(../images/logo.svg) no-repeat;
	width: 116px;
	height: 35px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}
header nav{
	margin-bottom: 18px;
}
header nav > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_menu {
	display: flex;
	align-items: center;
}
.top_menu > ul{
	display: flex;
}
.main_menu{
	gap: 60px;
	margin-right: 80px;
}
.login_menu{
	gap: 30px;
	margin-right: 30px;
}
.login_menu a{
	padding: 0 21px;
	border: 1px solid transparent;
	border-radius: 5px;
	height: 40px;
	box-sizing: border-box;
	line-height: 38px;
	display: block;
	transition: 0.3s;
}
.login_menu a:hover{
	border-color: #212832;
}
.dropdown ul li{
	display: none;
}
/* hero */
.hero{
	display: flex;
	justify-content: space-between;
	margin-bottom: 97px;
}
.hero .content{
	margin-top: 112px;
	margin-left: 15px;
	width: 545px;
}
.hero .content h3{
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #df6951;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.hero .content h2{
	font-family: "Volkhov", serif;
	font-size: 84px;
	line-height: 89px;
	letter-spacing: -0.04em; /* -3.36px */
	color: #181e4b;
	margin-bottom: 30px;
}
.hero .content h2 strong{
	position: relative;
}
.hero .content h2 strong:after{
	content: '';
	width: 385px;
	height: 12px;
	background: url(/images/header_title_bg.svg) no-repeat;
	position: absolute;
	bottom: 16px;
	left: -20px;
	z-index: -1;
}
.hero .content p{
	line-height: 30px;
	color: #5e6282;
	padding-right: 70px;
	margin-bottom: 34px;
}
.hero .cta{
	display: flex;
	gap: 44px;
	align-items: center;
}
.hero .cta a{
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 26px;
	background: #f1a501;
	border-radius: 10px;
	font-size: 18px;
	font-family: "Product Sans Medium Regular";
	color: #fff;
}

.hero .cta button{
	display: flex;
	align-items: center;
	gap: 21px;
}
.hero .cta button .icon{
	background: #DF6951;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	box-shadow: 0 15px 30px rgba(223,105,81,0.3);
	font-style: 15px;
}
.hero .cta button{
	font-style: 17px;
	color: #686d77;
	font-weight: 500;
}
.services{
	position: relative;
	margin-bottom: 156px;
}
.services:after{
	content: '';
	position: absolute;
	background: url(/images/services_right_top.svg) no-repeat;
	width: 153px;
	height: 166px;
	top: -8px;
	right: -92px;
}
.services h3{
	text-transform: uppercase;
}
.services h2{
	margin-bottom: 66px;
}
.services ul{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.services ul li{
	width: 267px;
	border-radius: 36px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.3s;
	position: relative;
	background: #fff;
}
.services ul li:after{
	content: '';
	position: absolute;
	background: #DF6951;
	width: 100px;
	height: 100px;
	border-radius: 30px 0 10px 0;
	z-index: -1;
	left: 15px;
	bottom: 15px;
	transition: 0.3s;
}
.services ul li:hover:after{
	left: -33px;
	bottom: -33px;
}

.services ul li:hover{ 
	box-shadow: 
	0px 100px 80px 0px rgba(0, 0, 0, 0.02),
	0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152),
	0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121),
	0px 20px 13px 0px rgba(0, 0, 0, 0.01),
	0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079),
	0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048); 
}
.services ul li figure{
	height: 154px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services ul li h3{
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #1E1D4C;
	margin-bottom: 15px;
}
.services ul li p{
	padding: 0 42px 44px;
}
.destinations h3{
	text-transform: capitalize;
}
.destinations h2{
	margin-bottom: 60px;
}
.destinations{
	position: relative;
}
.destinations ul{
	display: flex;
	position: absolute;
	width: 1040px;
	justify-content: space-between;
}
.destinations ul li{
	width: 315px;
	border-radius: 24px;
	overflow: hidden;
	position: relative;
}
.destinations ul li figcaption{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	padding: 27px 26px 42px 20px;
}
.destinations ul li figure img{
	width: 100%;
}