@import url('reset.css');
@import url('common.css');

header{
	padding-top: 47px;
	background:
	no-repeat url(../images/header_ellipse.svg),
	no-repeat url(../images/header_bg.svg) 100% 0;
}
header h1 a{
	background: url(../images/logo.svg) no-repeat;
	width: 116px;
	height: 35px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}

header nav > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_menu {
	display: flex;
	align-items: center;
}
.top_menu > ul{
	display: flex;
}
.main_menu{
	gap: 60px;
	margin-right: 80px;
}
.login_menu{
	gap: 30px;
	margin-right: 30px;
}
.login_menu a{
	padding: 0 21px;
	border: 1px solid transparent;
	border-radius: 5px;
	height: 40px;
	box-sizing: border-box;
	line-height: 38px;
	display: block;
	transition: 0.3s;
}
.login_menu a:hover{
	border-color: #212832;
}
.dropdown ul li{
	display: none;
}
